<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      href="https://fonts.googleapis.com/css?family=Baloo|Ubuntu"rel="stylesheet"/>
    <link rel="stylesheet" href="css/profile.css" />
 <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
 <link rel="stylesheet" href="css/main.css">
 <link rel="stylesheet" href="css/main.min.css">
</head>

<body class="stop-scroll">
<header>
   <nav>
       <div class="toggle">
           <span class="first"></span>
           <span class="middle"></span>
           <span class="last"></span>
       </div>
       <div class="navigation-bar">
           <ul>
               <li class="active"><a href="/profile">Home<span class="underline"></span></a></li>
               <li><a href="/marketplace">Shop<span class="underline"></span></a></li>
               <li><a href="/listings">My Listings<span class="underline"></span></a></li>
               <li><a href="/purchased">My purchased<span class="underline"></span></a></li>
               <li><a href="/signup">Logout<span class="underline"></span></a></li>
           </ul>
       </div>
   </nav>
   <div class="text">
       <h2>Welcome</h2>
       <h1>To MommiesMart</h1>
       
   </div>
   <svg class="svg-down" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="currentColor" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
   <div class="arrow-down">
   </div>
</header>

<div class="about-us">
   <div class="text">
       <h2>Discover</h2>
       <h3>Our Story</h3>
       <div><i class="fas fa-asterisk"></i></div>
       <p>Welcome to MommiesMart, your go-to platform for affordable and unique products catered to moms.</p>
<p>As a fellow mom, I created this marketplace to provide a space where moms can find budget-friendly items for themselves and their little ones. We understand the financial challenges that come with motherhood, and our goal is to make quality products more accessible.</p>
<p>Discover a wide range of affordable products specifically curated for moms, including baby essentials, maternity wear, toys, self-care items, and more. We believe that being a mom shouldn't mean compromising on quality or breaking the bank.</p>
<p>At Mom Marketplace, we prioritize affordability without sacrificing value. We carefully select vendors who offer products at affordable prices, ensuring that you can find great deals while still getting the quality you deserve.</p>
<p>Take your time to explore our website and browse through our collection of budget-friendly items. Whether you're looking for practical essentials or something special for yourself, we've got you covered.</p>
<p>Thank you for being a part of this incredible journey. Let's support each other and enjoy the benefits of affordable shopping together!</p>
<p>Warm regards,</p>
<p>Maimouna</p>


       <div><a class="a-CTA" href="#">BACK TO TOP</a></div>
   
   <div class="image-container">
       <div class="image image1">
           <img src="img/animatedMom.png" alt="Food Photo">
       </div>
       
   
</div>




   <div class="text">
       <h2>Here At Mommiesmart, we Aim to provide a wonderful experience for Sellers and Buyers, but we also take mental health and safety serious! If you are struggling Here are some links to help!</h2>
       <div><i class="fas fa-asterisk"></i></div>
       <div><a class="a-CTA" href="#">Hotlines For Moms</a>
        <ul>
          <li><a href="https://www.nationalhelpline.org.uk/">National Helpline for Pregnancy & Infant Loss</a></li>
          <li><a href="https://www.plannedparenthood.org/">Planned Parenthood</a></li>
          <li><a href="https://www.singlemotherhelp.org/">Single Mother Help</a></li>
          <li><a href="https://www.nationalsafehavenalliance.org/">National Safe Haven Alliance</a></li>
        </ul>
        
        
      </div>

       
   </div>
</div>











    
    
      
     

   
    


    
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="profile.js"></script>
  </body>
</html>

